@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
	--ff-primary: 'Poppins', Arial, Helvetica, sans-serif;


	--common-gap: .3em;

	--btn-color--primary: #3f51b5;
	--btn-color--white: #fff;
	--btn-color--gray: #aaa;

	--btn-fg-disabled: #aaa;
	--btn-bg-disabled: #e2e2e2;

	--btn-padding-block: .5em;
	--btn-padding-inline: 1.4em;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--ff-primary);

	background-color: #eee;
}

h1,
h2 {
	font-weight: 400;
}

h2 {
	font-size: 1.2rem;
}

.container {
	min-height: calc(100vh - 1em);
	max-width: 768px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--common-gap);
}

.container-box {
	min-width: 200px;
	max-width: 768px;
	padding: 1em;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;


	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--common-gap);
}

.container-buttons {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: var(--common-gap);
}

@media screen and (min-width: 500px) {
	:root {
		--common-gap: 1em;
	}

	.container {
		padding: var(--common-gap);
	}

	.container-box {
		min-width: 500px;
	}

	.container-buttons {
		align-items: center;
		flex-direction: row;
	}
}

.btn {
	padding: var(--btn-padding-block) var(--btn-padding-inline);
	font-family: var(--ff-primary);
	font-weight: 500;
	font-size: 1rem;
	border: none;
	border-radius: 7px;
	cursor: pointer;
	color: #444;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

	display: flex;
	align-items: center;
	gap: var(--common-gap);
}

/* ------------
 * 🔹 VARIANT
 * ------------ */
.btn-variant--text,
.btn-variant--outline {
	color: var(--btn-color--primary);
	background-color: var(--btn-color--white);
}

.btn-variant--outline {
	border: 1px solid var(--btn-color--primary);
}

.btn-variant--outline:hover,
.btn-variant--outline:focus,
.btn-variant--text:hover,
.btn-variant--text:focus {
	background-color: hsla(208, 98%, 91%, 0.59);
}


.btn--disableshadow {
	box-shadow: none;
}

.btn--disabled {
	color: var(--btn-fg-disabled);
	background-color: var(--btn-bg-disabled);
}

.btn--disabled:focus,
.btn--disabled:hover {
	background-color: var(--btn-bg-disabled);
}

.btn--text.btn--disabled {
	background-color: var(--btn-color--white);
}

.btn--text.btn--disabled:focus,
.btn--text.btn--disabled:hover {
	background-color: var(--btn-color--white);
}

.btn-size--small {
	--btn-padding-block: .3em;
	--btn-padding-inline: .7em;
}

.btn-size--medium {
	--btn-padding-block: .5em;
	--btn-padding-inline: 1.4em;
}

.btn-size--large {
	--btn-padding-block: .9em;
	--btn-padding-inline: 1.8em;
}

/* ---------
 * 🔹 COLOR
 * --------- */
.btn--default {
	color: #444;
}

.btn--default:hover,
.btn--default:focus {
	background-color: var(--btn-color--gray);
}

.btn-variant--outline.btn--default {
	color: var(--btn-color--primary);
}

.btn-variant--outline.btn--default:hover,
.btn-variant--outline.btn--default:focus {
	background-color: hsla(208, 98%, 91%, 0.59);
}

.btn-variant--text.btn--default {
	color: var(--btn-color--primary);
}

.btn-variant--text.btn--default:hover,
.btn-variant--text.btn--default:focus {
	background-color: hsla(208, 98%, 91%, 0.59);
}

.btn--disabled.btn--default {
	color: var(--btn-fg-disabled);
	background-color: var(--btn-bg-disabled);
}

.btn--disabled.btn--default:hover,
.btn--disabled.btn--default:focus {
	color: var(--btn-fg-disabled);
	background-color: var(--btn-bg-disabled);
}

/* PRIMARY */

.btn--primary {
	color: var(--btn-color--white);
	background-color: var(--btn-color--primary);
}

.btn--primary:hover,
.btn--primary:focus {
	background-color: hsla(231, 48%, 30%, 1);
}

.btn-variant--outline.btn--primary {
	color: var(--btn-color--primary);
	background-color: var(--btn-color--white);
}

.btn-variant--outline.btn--primary:hover,
.btn-variant--outline.btn--primary:focus {
	background-color: hsla(208, 98%, 91%, 0.59);
}

.btn-variant--text.btn--primary {
	color: var(--btn-color--primary);
	background-color: var(--btn-color--white);
}

.btn-variant--text.btn--primary:hover,
.btn-variant--text.btn--primary:focus {
	background-color: hsla(208, 98%, 91%, 0.59);
}

.btn--disabled.btn--primary {
	color: var(--btn-fg-disabled);
	background-color: var(--btn-bg-disabled);
}

.btn--disabled.btn--primary:hover,
.btn--disabled.btn--primary:focus {
	color: var(--btn-fg-disabled);
	background-color: var(--btn-bg-disabled);
}

.btn--secondary {
	color: var(--btn-color--white);
	background-color: hsla(120, 7%, 30%, 1);
}

.btn--secondary:hover,
.btn--secondary:focus {
	background-color: hsla(120, 7%, 13%, 1);
}

.btn-variant--outline.btn--secondary {
	color: hsla(120, 7%, 30%, 1);
	background-color: var(--btn-color--white);
	border-color: hsla(120, 7%, 30%, 1);
}

.btn-variant--outline.btn--secondary:hover,
.btn-variant--outline.btn--secondary:focus {
	background-color: hsla(208, 98%, 81%, 0.59);
}

.btn-variant--text.btn--secondary {
	color: hsla(120, 7%, 30%, 1);
	background-color: var(--btn-color--white);
}

.btn-variant--text.btn--secondary:hover,
.btn-variant--text.btn--secondary:focus {
	background-color: hsla(120, 7%, 90%, 1);
}

.btn--disabled.btn--secondary {
	color: var(--btn-fg-disabled);
	background-color: var(--btn-bg-disabled);
}

.btn--disabled.btn--secondary:hover,
.btn--disabled.btn--secondary:focus {
	color: var(--btn-fg-disabled);
	background-color: var(--btn-bg-disabled);
}

.btn--danger {
	color: var(--btn-color--white);
	background-color: hsla(2, 64%, 58%, 1);
}

.btn--danger:hover,
.btn--danger:focus {
	background-color: hsla(2, 64%, 36%, 1);
}


.btn-variant--outline.btn--danger {
	color: hsla(2, 64%, 58%, 1);
	border-color: hsla(2, 64%, 58%, 1);
	background-color: var(--btn-color--white);
}

.btn-variant--outline.btn--danger:hover,
.btn-variant--outline.btn--danger:focus {
	background-color: hsla(2, 64%, 95%, 1);
}

.btn-variant--text.btn--danger {
	color: hsla(2, 64%, 58%, 1);
	background-color: var(--btn-color--white);
}

.btn-variant--text.btn--danger:hover,
.btn-variant--text.btn--danger:focus {
	background-color: hsla(2, 64%, 95%, 1);
}

.btn--disabled.btn--danger {
	color: var(--btn-fg-disabled);
	background-color: var(--btn-bg-disabled);
}

.btn--disabled.btn--danger:hover,
.btn--disabled.btn--danger:focus {
	color: var(--btn-fg-disabled);
	background-color: var(--btn-bg-disabled);
}

.created-by {
	text-align: center;
	color: rgb(116, 116, 116);
	padding: 1em;
}

p {
	font-weight: 400;
}

span {
	font-weight: 700;
}