@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
	--ff-primary: 'Poppins', Arial, Helvetica, sans-serif;

	--btn-color--primary: #0275d8;
	--btn-color--white: #fff;
	--btn-color--gray: #aaa;

	--btn-fg-disabled: #aaa;
	--btn-bg-disabled: #e2e2e2;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--ff-primary);
	padding: .3em;
	background-color: #eee;
}

h1,
h2 {
	font-weight: 400;
}

h2 {
	font-size: 1.2rem;
}

.container {
	padding: 1em;
	min-height: calc(100vh - 1em);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: .3em;
}

.container-box {
	min-width: 300px;
	padding: 1em;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;


	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2em;
}

.container-buttons {
	display: flex;
	gap: 1em;
}

.btn {
	padding: .7em 1.4em;
	font-family: var(--ff-primary);
	font-weight: 500;
	font-size: 1rem;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.btn--default {
	color: #444;
}

.btn--default:hover,
.btn--default:focus {
	background-color: var(--btn-color--gray);
}

.btn--text,
.btn--outline {
	color: var(--btn-color--primary);
	background-color: var(--btn-color--white);
}

.btn--outline {
	border: 1px solid var(--btn-color--primary);
}

.btn--outline:hover,
.btn--outline:focus,
.btn--text:hover,
.btn--text:focus {
	background-color: hsla(208, 98%, 91%, 0.59);
}

.btn--primary {
	color: var(--btn-color--white);
	background-color: var(--btn-color--primary);
}

.btn--disableshadow {
	box-shadow: none;
}

.btn--disabled {
	color: var(--btn-fg-disabled);
	background-color: var(--btn-bg-disabled);
}

.btn--disabled:focus,
.btn--disabled:hover {
	background-color: var(--btn-bg-disabled);
}

.btn--text.btn--disabled {
	background-color: var(--btn-color--white);
}

.btn--text.btn--disabled:focus,
.btn--text.btn--disabled:hover {
	background-color: var(--btn-color--white);
}